%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%center-items {
  align-items: center;
  justify-items: center;
}

%main-box-size {
  height: 60%;
  width: 45%;
}
