body {
  font-family: $font-family-base;
}

button {
  font-family: $font-family-base;
  font-size: 2vh;
}

input {
  font-family: $font-family-base;
  font-size: 2vh;
}

.large-header {
  font-family: $font-family-logo;
  font-size: 15vh;
}

.medium-header {
  font-family: $font-family-logo;
  font-size: 10vh;
}
